.requiredField{
	border-left-color:red;
	border-left-width:2px;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .icon-cal {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .icon-cal  { left:  0px;}
.right-addon .icon-cal { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }